body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(186, 190, 245) 0%,
    rgb(192, 192, 245) 33.1%,
    rgb(218, 203, 246) 90%
  );

  font-family: "Inter";
  margin: 120px auto;
  max-width: 600px;
}

a {
  color: #6e63fa;
}

.container {
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 30px;
}
form {
  padding: 0 30px;
}
h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
  color: #0a2540;
  padding-top: 20px;
}

small {
  padding: 0 22px 15px;
  opacity: 0.7;
  font-size: 12px;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
}

.instructions:focus {
  border: 2px solid #dcdaff;
}

.instructions {
  padding: 20px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  height: 20px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.submit-button {
  background: #6e63fa;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 50px;
  padding: 16px 24px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.poem {
  margin: 10px 30px;
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  display: block;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  padding: 20px;
}

.circles {
  border-bottom: 1px solid #ccc;
  padding: 20px 0 0 20px;
}

.dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 20px;
}

.red {
  background-color: #f5b7b3;
}

.yellow {
  background-color: #fadead;
}

.green {
  background-color: #b1e2af;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
